{{ define "change-password" }}

<div class="bg-white shadow-md rounded-lg px-8 py-10">
    <h2 class="text-2xl font-semibold text-center mb-6 text-gray-800">Change Password</h2>
    {{if .}}
    <p class="text-red-600 text-center mb-4">{{ .message }}</p>
    {{end}}
    <form method="post">
        <div class="mb-5">
            <label class="block text-gray-700 font-medium mb-2">New Password</label>
            <input name="new_password"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
                type="password" required>
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 font-medium mb-2">Confirm Password</label>
            <input name="confirm_password"
                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
                type="password" required>
        </div>
        <button
            class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 rounded-lg transition duration-200"
            type="submit">
            Save New Password
        </button>
    </form>
</div>
{{ end }}