label {
  white-space: nowrap;
}

.button-unsaved {
  background-color: green;
}

.button-saved {
  background-color: gray;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}
.submenu {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.submenu.open {
  max-height: 500px; 
  opacity: 1;
}


.action-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.action-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}
