label {
  white-space: nowrap;
}

.button-unsaved {
  background-color: green;
}

.button-saved {
  background-color: gray;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}
.submenu {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.submenu.open {
  max-height: 500px; 
  opacity: 1;
}


.action-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.action-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.spinner {
  display: none; 
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}