<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>

  <link rel="stylesheet" href="/static/css/tailwind.css?v={{ .tailwindVersion }}">
  <link rel="stylesheet" href="/static/css/styles.css?v={{ .CssVersion }}">
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">

  <!-- Include Header -->
  {{ template "header.html" . }}

  <!-- Main Container -->
  <div class="flex-grow flex items-start justify-center p-4">
    <div class="bg-white shadow-lg rounded-lg w-full max-w-5xl">
      <!-- Flex Container: Navigation and Main Content -->
      <div class="flex flex-col md:flex-row">
        <!-- Navigation Sidebar -->
        {{ template "navigation.html" . }}

        <!-- Main Content Area -->
        <div class="w-full md:w-3/4 p-6 overflow-auto flex flex-col">
          <div id="status-message" class="hidden"></div>
          <!-- Dynamic Content -->
          <div class="flex-1">
            {{ dynamicTemplate .ContentTemplate . }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include Footer -->
  {{ template "footer.html" . }}

  <!-- Custom JavaScript -->
  <script src="/static/js/scripts.js?v={{ .JsVersion }}"></script>
</body>

</html>
